{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr"></html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Templates Practice </title>
    <link rel ="stylesheet" href="{% static "/css/index.css" %}">
            
    
</head>

<body>
    <h1>Models and stuff</h1>
    
    
    <div>
        <p class ="intro"> {{body}}</p>
        <p> {{ summary_info }}</p>
        <p>Above is what you DONT do</p> 
        {% if summary_info %}
        <ul>
        {% for i in summary_info %}
        <li>{{ i.summary }}</li>
        {% endfor %}
        {% endif %}
        </ul>
        <form action ="/" method="post">
            {% csrf_token %}
            {{ form }}             
             <input type="submit" class="button" value ="Add Name">
            </form>
        
    </div>



</body>
</html>